parameters:
	ignoreErrors:
		-
			message: '#^Method Worksome\\Sdk\\Exceptions\\GraphQL\\InvalidResponseException\:\:__construct\(\) has parameter \$response with generic class Worksome\\Sdk\\DTOs\\GraphQL but does not specify its types\: TData$#'
			identifier: missingType.generics
			count: 1
			path: src/Exceptions/GraphQL/InvalidResponseException.php
