parameters:
	ignoreErrors:
		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/Exception/BadMethodCallException.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/Exception/ExceptionInterface.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/Exception/InvalidArgumentException.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/Exception/InvalidResponseException.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/Exception/MissingArgumentException.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/Exception/RuntimeException.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/HttpClient/Builder.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/HttpClient/Message/ResponseMediator.php

		-
			message: '#^Method Worksome\\Sdk\\HttpClient\\Plugin\\Authentication\:\:doHandleRequest\(\) should return Http\\Promise\\Promise but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/HttpClient/Plugin/Authentication.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/HttpClient/Plugin/Authentication.php

		-
			message: '#^Method Worksome\\Sdk\\HttpClient\\Plugin\\PathPrepend\:\:doHandleRequest\(\) should return Http\\Promise\\Promise but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/HttpClient/Plugin/PathPrepend.php

		-
			message: '#^PHP files should declare strict types\.$#'
			identifier: worksome.declareStrictTypes
			count: 1
			path: src/HttpClient/Plugin/PathPrepend.php
